body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}